<div class="container">
    <div class="banner-title">
        <h2>Conózca nuestros servicios</h2>
        <a href="/#/servicios" class="button-one">Conózcalos Aquí</a>
    </div>
    <div class="banner-form">
        <h2>Seguimiento de sus envíos</h2>
        <form class="form-inline">
            <div class="form-group">
                <input id="codigoConsulta" type="text" class="form-control" placeholder="Ej: AAA001">
            </div>
            <button id="btnConsultarEnvio" type="submit" class="btn btn-default">Consultar</button>
            
        </form>
    </div>
</div>