<div class="row">
	<div class="col-md-12">
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th>N° Paquete</th>
					<th>Fecha</th>
					<th>Estado</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>AAA001</td>
					<td>03/06/2015</td>
					<td>Despachado </td>
					<td>
						<a class="btn btn-default" href="" role="button">Exhibir Detalles</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

