<div class="row">
	<div class="col-md-12">
		<h1>Nuevo envío</h1>
	</div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="accordion-box">

      <div id="envio-step-1" class="accord-elem active">
        <div class="accord-title">
          <a class="accord-link"></a>
          <h2>Información de dirección</h2>
        </div>
        <div class="accord-content">
          <br>
          <form id="formInfoDireccion" class="form-envio">
            <div class="row">
              <div class="col-md-6">
                <legend>Dirección de origen</legend>
                <fieldset>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Su nombre</label>
                        <input type="text" class="form-control" placeholder="Ingrese su nombre">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Dirección</label>
                        <input type="text" class="form-control" placeholder="Ingrese su Dirección">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Pais</label>  
                        <select class="form-control">
                          <option>Argentina</option>
                          <option>Brasil</option>
                          <option>Paraguay</option>
                          <option>Chile</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Código Postal</label>
                        <input type="text" class="form-control" placeholder="Ej: 3500">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Provincia</label> 
                        <select class="form-control">
                          <option>Misiones</option>
                          <option>Formosa</option>
                          <option>Corrientes</option>
                          <option>Chaco</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Localidad</label> 
                        <select class="form-control">
                          <option>Charata</option>
                          <option>Fontana</option>
                          <option>Resistencia</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Telefono</label>
                        <input type="text" class="form-control" placeholder="Ingrese su telefono">
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="col-md-6">
                <legend>Dirección de destino</legend>
                <fieldset>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Nombre Destinatario</label>
                        <input type="text" class="form-control" placeholder="Ingrese su nombre">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Dirección</label>
                        <input type="text" class="form-control" placeholder="Ingrese su Dirección">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Pais</label>  
                        <select class="form-control">
                          <option>Argentina</option>
                          <option>Brasil</option>
                          <option>Paraguay</option>
                          <option>Chile</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Código Postal</label>
                        <input type="text" class="form-control" placeholder="Ej: 3500">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Provincia</label> 
                        <select class="form-control">
                          <option>Misiones</option>
                          <option>Formosa</option>
                          <option>Corrientes</option>
                          <option>Chaco</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                          <label>Localidad</label> 
                          <select class="form-control">
                            <option>Charata</option>
                            <option>Fontana</option>
                            <option>Resistencia</option>
                          </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Telefono</label>
                        <input type="text" class="form-control" placeholder="Ingrese su telefono">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" placeholder="Ingrese su email">
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                  <input class="offset-right btn-continuar" value="Continuar" type="submit">
              </div>
            </div>
          </form>
        </div>
      </div>

      <div id="envio-step-2" class="accord-elem">
        <div class="accord-title">
          <a class="accord-link"></a>
          <h2>Pago</h2>
        </div>
        <div class="accord-content">
          <br>
          <form id="formInfoPago" class="form-envio">
            <legend>Pago</legend>
            <fieldset>
              <div class="row">
                <div class="col-md-12">
                    <input class="offset-right btn-continuar" value="Continuar" type="submit">
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>

      <div id="envio-step-3" class="accord-elem step-3">
        <div class="accord-title">
          <a class="accord-link"></a>
          <h2>Confirmación</h2>
        </div>
        <div class="accord-content">
          <br>
          <form id="formInfoPago" class="form-envio">
            <legend>Pago</legend>
            <fieldset>
              <div class="row">
                <div class="col-md-12">
                    <button class="offset-right btn-cancelar">Cancelar</button>
                    <input class="offset-right btn-continuar" value="Confirmar" type="submit">
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>


