<div class="row">
	<div class="col-md-12">
		<h1>Nuevo envío</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<form>
			<legend>Dirección de origen</legend>
			<fieldset>
				<div class="row">
					<div class="col-md-12">
	                    <div class="form-group">
	                        <label>Su nombre</label>
	                        <input type="text" class="form-control" placeholder="Ingrese su nombre">
	                    </div>
	                </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Direccion</label>
                            <input type="text" class="form-control" placeholder="Ingrese su direccion">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                          <label>Pais</label>  
                          <select class="form-control">
                              <option>Argentina</option>
                              <option>Brasil</option>
                              <option>Paraguay</option>
                              <option>Chile</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Código Postal</label>
                            <input type="text" class="form-control" placeholder="Ej: 3500">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Provincia</label> 
                            <select class="form-control">
                              <option>Misiones</option>
                              <option>Formosa</option>
                              <option>Corrientes</option>
                              <option>Chaco</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Localidad</label> 
                            <select class="form-control">
                              <option>Charata</option>
                              <option>Fontana</option>
                              <option>Resistencia</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                	<div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Telefono</label>
                            <input type="text" class="form-control" placeholder="Ingrese su telefono">
                        </div>
                    </div>
				</div>
            </fieldset>
		</form>
	</div>

	<div class="col-md-6">
		<form>
			<legend>Dirección de destino</legend>
			<fieldset>
				<div class="row">
					<div class="col-md-12">
	                    <div class="form-group">
	                        <label>Su nombre</label>
	                        <input type="text" class="form-control" placeholder="Ingrese su nombre">
	                    </div>
	                </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Direccion</label>
                            <input type="text" class="form-control" placeholder="Ingrese su direccion">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                          <label>Pais</label>  
                          <select class="form-control">
                              <option>Argentina</option>
                              <option>Brasil</option>
                              <option>Paraguay</option>
                              <option>Chile</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Código Postal</label>
                            <input type="text" class="form-control" placeholder="Ej: 3500">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Provincia</label> 
                            <select class="form-control">
                              <option>Misiones</option>
                              <option>Formosa</option>
                              <option>Corrientes</option>
                              <option>Chaco</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Localidad</label> 
                            <select class="form-control">
                              <option>Charata</option>
                              <option>Fontana</option>
                              <option>Resistencia</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                	<div class="col-md-6">
                        <div class="form-group">
                            <label>Telefono</label>
                            <input type="text" class="form-control" placeholder="Ingrese su telefono">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" placeholder="Ingrese su email">
                        </div>
                    </div>
				</div>
            </fieldset>
		</form>
	</div>
</div>

<div class="accordion-box">
	<div class="accord-elem">
		<div class="accord-title">
			<a class="accord-link"></a>
			<h2>Información de dirección </h2>
		</div>
		<div style="display: none;" class="accord-content">
			<p>Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat. Praesent dapibus, neque id cursus faucibus, tortor neque.</p>
		</div>
	</div>

	<div class="accord-elem">
		<div class="accord-title">
			<a class="accord-link"></a>
			<h2>Morbi in sem quis dui placerat ornare. </h2>
		</div>
		<div style="display: none;" class="accord-content">
			<p>Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat. Praesent dapibus, neque id cursus faucibus, tortor neque.</p>
		</div>
	</div>

	<div class="accord-elem">
		<div class="accord-title">
			<a class="accord-link"></a>
			<h2>Lorem ipsum dolor sit amet. </h2>
		</div>
		<div style="display: none;" class="accord-content">
			<p>Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat. Praesent dapibus, neque id cursus faucibus, tortor neque.</p>
		</div>
	</div>
</div>