<div class="row">
	<div class="col-md-12">
		<h1>Nuevo envío</h1>
	</div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="accordion-box">

      <div id="envio-step-1" class="accord-elem active">
        <div class="accord-title">
          <a class="accord-link"></a>
          <h2>Información de dirección</h2>
        </div>
      </div>

      <div id="envio-step-2" class="accord-elem">
        <div class="accord-title">
          <a class="accord-link"></a>
          <h2>Seleccione Paquete</h2>
        </div>
      </div>

      <div id="envio-step-3" class="accord-elem">
        <div class="accord-title">
          <a class="accord-link"></a>
          <h2>Pago</h2>
        </div>
      </div>

      <div id="envio-step-4" class="accord-elem">
        <div class="accord-title">
          <a class="accord-link"></a>
          <h2>Confirmación</h2>
        </div>
      </div>

    </div>
  </div>
</div>


