<div class="row">
	<div class="col-md-4">
		<div class="direccion-retiro">
			<h3>Dirección del comprador</h3>
			<p><strong>Alejandro</strong></p>
			<p>Mi Casa</p>
			<p>Carlos Pellegrini , 756 3F</p>
			<p><strong>Localidad:</strong> RESISTENCIA</p>
			<p><strong>Provincia:</strong> CHACO</p>
			<p><strong>CP:</strong> 3500</p>
		</div>
		</div>
	<div class="col-md-4">
		<div class="direccion-entrega">
			<h3>Dirección del comprador</h3>
			<p><strong>Alejandro Pereyra</strong></p>
			<p>Mi Casa</p>
			<p>Carlos Pellegrini , 756 3F</p>
			<p><strong>Localidad:</strong> RESISTENCIA</p>
			<p><strong>Provincia:</strong> CHACO</p>
			<p><strong>CP:</strong> 3500</p>
		</div>
	</div>
	<div class="col-md-4">
		<div class="forma-pago">
			<h3>Forma de pago</h3>
			<p><strong>Tarjeta de Crédito</strong></p>
			<p>Número de cuotas: 3</p>
			<p>Carlos Pellegrini , 756 3F</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<ul class="lstStatusOfRequest">
			<li class="step1">
				<strong>
					<span>1</span>
				</strong>
				<p class="titStatus">
					Pedido realizado
				</p>
				<p>&nbsp;</p>
			</li>
			<li class="step2">
				<strong>
					<span>2</span>
				</strong>
				<p class="titStatus">
					Pago autorizado
				</p>
				<p>&nbsp;</p>
			</li>
			<li class="step3">
				<strong>
					<span>3</span>
				</strong>
				<p class="titStatus">
					Envío en preparación
				</p>
				<p>&nbsp;</p>
			</li>
			<li class="step4 ok">
				<strong>
					<span>4</span>
				</strong>
				<p class="titStatus">Producto(s) en tránsito</p>
				<p class="trace_request">
			</li>
			<li class="step5">
				<strong>
					<span>5</span>
				</strong>
				<p class="titStatus">
					Producto(s) entregado(s)
				</p>
				<p>&nbsp;</p>
			</li>
		</ul>
	</div>
</div>