<div class="row">
	<div class="col-md-12">
		<h1>Datos del cliente</h1>
		<h3><strong>Nombre: </strong>{{user.firstName}}</h3>
		<h3><strong>Apellido: </strong>{{user.lastName}}</h3>
		<h3><strong>Email: </strong>{{user.email}}</h3>
	</div>
</div>