<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="row">
				<div class="col-md-12">
					<div class="side-navigation">
						<ul class="side-navigation-list">
							<li>
								<a href="/#cliente" class="active">Información de la cuenta</a>
								<a href="/#cliente/envio">Crear un envío</a>
								<a href="/#cliente/tarifa">Obtener tarifas</a>
								<a href="/#cliente/servicios">Mis servicios</a>
								<a href="/#cliente/paquetes">Mis paquetes</a>
							</li>
						</ul>
					</div>	
				</div>
			</div>
		</div>
		<div id="cliente-body" class="col-md-9"></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div id="paquetesDetalles"></div>
		</div>
	</div>
</div>