<div class="container">
	<div class="col-md-4">
		<div class="contact-info">
			<h2>Contact Info</h2>
			<p>You can contact or visit us in our office from Monday to Friday from 8:00 - 17:00</p>
			<ul class="information-list">
				<li><i class="fa fa-map-marker"></i><span>907 N Randolph street, Arlington County, Virginia, United States</span></li>
				<li><i class="fa fa-phone"></i><span>+1 703-697-1776</span><span>+1 605-315-8544</span></li>
				<li><i class="fa fa-envelope-o"></i><a href="#">nunforest@gmail.com</a></li>
			</ul>						
		</div>
	</div>
	<div class="col-md-8">
		<form id="contact-form">
			<h2>Send us a message</h2>
			<div class="row">
				<div class="col-md-6">
					<input name="name" id="name" placeholder="Name" type="text">
				</div>
				<div class="col-md-6">
					<input name="mail" id="mail" placeholder="Email" type="text">
				</div>
			</div>
			<textarea name="comment" id="comment" placeholder="Message"></textarea>
			<input id="submit_contact" value="Send Message" type="submit">
			<div id="msg" class="message"></div>
		</form>
	</div>
</div>
