<div class="accord-content">
  <br>
  <form id="formInfoPago" class="form-envio">
    <legend>Servicio</legend>
    <fieldset>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Servio</label>  
            <select name="tipo-paquete" class="form-control">
              <option value="1">General</option>
              <option value="2">Express</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Tipo paquete</label>  
            <select name="tipo-paquete" class="form-control">
              <option value="1">Liviano</option>
              <option value="2">Normal</option>
              <option value="3">Pesado</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Descripción</label>  
            <input type="text" class="form-control" name="descripcion">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <input class="offset-right btn-continuar" value="Confirmar" type="submit">
        </div>
      </div>
    </fieldset>
  </form>
</div>