  <div class="accord-content">
    <br>
    <div class="row">
      <div class="col-md-6">
        <form id="form-remitente" class="form-envio">
          <legend>Dirección de origen</legend>
          <fieldset>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Su nombre</label>
                  <input type="text" class="form-control" name="nombre" placeholder="Ingrese su nombre">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Dirección</label>
                  <input type="text" class="form-control" name="calle" placeholder="Calle">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Nro</label>
                  <input type="text" class="form-control" name="nro" placeholder="Nro">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Piso</label>
                  <input type="text" class="form-control" name="piso" placeholder="Piso">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Dpto</label>
                  <input type="text" class="form-control" name="dpto" placeholder="Dpto">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Pais</label>  
                  <select name="pais" class="form-control">
                    <option value="1">Argentina</option>
                    <option value="2">Brasil</option>
                    <option value="3">Paraguay</option>
                    <option value="4">Chile</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div name="cp" class="form-group">
                  <label>Código Postal</label>
                  <input type="text" class="form-control" placeholder="Ej: 3500">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Provincia</label> 
                  <select name="provincia" class="form-control">
                    <option value="1">Misiones</option>
                    <option value="2">Formosa</option>
                    <option value="3">Corrientes</option>
                    <option value="4">Chaco</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Localidad</label> 
                  <select name="localidad" class="form-control">
                    <option value="1">Charata</option>
                    <option value="2">Fontana</option>
                    <option value="3">Resistencia</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Telefono</label>
                  <input type="text" name="telefono" class="form-control" placeholder="Ingrese su telefono">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" name="email" class="form-control" placeholder="Ingrese su email">
                </div>
              </div>
            </div>
          </fieldset>
        </form>  
      </div>
      <div class="col-md-6">
        <form id="form-destinatario" class="form-envio">
          <legend>Dirección de destino</legend>
          <fieldset>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Destinatario</label>
                  <input type="text" class="form-control" name="nombre" placeholder="destinatario">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Dirección</label>
                  <input type="text" class="form-control" name="calle" placeholder="Calle">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Nro</label>
                  <input type="text" class="form-control" name="nro" placeholder="Nro">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Piso</label>
                  <input type="text" class="form-control" name="piso" placeholder="Piso">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Dpto</label>
                  <input type="text" class="form-control" name="dpto" placeholder="Dpto">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Pais</label>  
                  <select name="pais" class="form-control">
                    <option value="1">Argentina</option>
                    <option value="2">Brasil</option>
                    <option value="3">Paraguay</option>
                    <option value="4">Chile</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div name="cp" class="form-group">
                  <label>Código Postal</label>
                  <input type="text" class="form-control" placeholder="Ej: 3500">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Provincia</label> 
                  <select name="provincia" class="form-control">
                    <option value="1">Misiones</option>
                    <option value="2">Formosa</option>
                    <option value="3">Corrientes</option>
                    <option value="4">Chaco</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Localidad</label> 
                  <select name="localidad" class="form-control">
                    <option value="1">Charata</option>
                    <option value="2">Fontana</option>
                    <option value="3">Resistencia</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Telefono</label>
                  <input type="text" name="telefono" class="form-control" placeholder="Ingrese su telefono">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" name="email" class="form-control" placeholder="Ingrese su email">
                </div>
              </div>
            </div>
          </fieldset>
          <div class="row">
            <div class="col-md-12">
                <input class="offset-right btn-continuar" value="Continuar" type="submit">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
      