  
<div class="accord-content">
  <br>
  <form id="formInfoPago" class="form-envio">
    <h2>Confirmar pago</h2>
    <fieldset>
      <div class="row">
        <div class="col-md-12">
            <input class="offset-right btn-continuar" value="Confirmar" type="submit">
            <button class="offset-right btn-cancelar">Cancelar</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
      