<div class="up-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="footer-widget">
                    <h2>Quienes somos</h2>
                    <p>UTN Express es líder en el mercado nacional de servicios de entregas.
Nosotros aseguramos que sus envíos de documentos y cargas, sean entregados en forma segura y a tiempo...</p>
                    <img src="images/footer-logo2.png" height="60" width="160">
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-widget">
                    <h2>Tags</h2>
                    <ul class="tag-list">
                        <li><a href="#">Envios</a></li>
                        <li><a href="#">Mudanzas</a></li>
                        <li><a href="#">Logistica</a></li>
                        <li><a href="#">Interior</a></li>
                        <li><a href="#">Transporte</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-widget">
                    <h2>Fotos</h2>
                    <ul class="flickr">
                        <li><a href="#"><img src="upload/flickr/1.jpg" alt=""></a></li>
                        <li><a href="#"><img src="upload/flickr/4.jpg" alt=""></a></li>
                        <li><a href="#"><img src="upload/flickr/5.jpg" alt=""></a></li>
                        <li><a href="#"><img src="upload/flickr/6.jpg" alt=""></a></li>
                        <li><a href="#"><img src="upload/flickr/7.jpg" alt=""></a></li>
                        <li><a href="#"><img src="upload/flickr/8.jpg" alt=""></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-widget info-widget">
                    <h2>Contacto</h2>
                    <p class="first-par">Puede ponerse en contacto o visitarnos durante el tiempo de trabajo.</p>
                    <p><span>Tel: </span> 362 - 4678 - 9012</p>
                    <p><span>Email: </span> suporte@utnexpress.com</p>
                    <p><span>Horarios: </span> 8:00 a.m - 17:00 p.m</p>
                </div>
            </div>
        </div>
    </div>
</div>
<p class="copyright">
     UTN - Cliente Servidor 2015
</p> 