<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="top-line">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            <span><i class="fa fa-phone"></i>362 - 4678 - 9012</span>
                            <span><i class="fa fa-envelope-o"></i>suporte@utnexpress.com</span>
                        </p>
                    </div>  
                    <div class="col-md-6">
                        <ul class="social-icons">
                            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>  
                </div>
            </div>
        </div>
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="" height="30" width="100"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="about.html">Quienes somos</a></li>
                    <li class="drop"><a href="services.html">Servicios</a>
                        <ul class="dropdown">
                            <li><a href="construction.html">Construction</a></li>
                            <li><a href="building.html">Building</a></li>
                            <li><a href="isolation.html">Isolation</a></li>
                            <li><a href="electricy.html">Electricy</a></li>
                            <li><a href="painting.html">Painting</a></li>
                            <li><a href="projecting.html">Projecting</a></li>
                        </ul>
                    </li>
                    <li><a href="/#registro">Seguimiento</a></li>
                    <li><a href="/#registro">Registro</a></li>
                    <li><a href="contact.html">Contáctenos </a></li>
                    <li class="search drop"><a href="#" class="open-search"><i class="fa fa-search"></i></a>
                        <form class="form-search">
                            <input type="search" placeholder="Buscar:"/>
                            <button type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
</nav>

