<form>
    <legend>Iniciar sesión</legend>
    <fieldset>
        <div class="msg-login" style="display:none;"></div>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input type="text" id="userName" class="form-control" placeholder="Ingrese su correo">
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="password" id="password" class="form-control" placeholder="Contraseña">
        </div>
        <br>    
        <button type="submit" id="loginButton" class="btn btn-primary">Entrar</button>    
    </fieldset>
</form>