<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row">   
                <div class="col-md-12">
                    <div class="tituloLogin">
                        <h1>Cliente Nuevo</h1>
                        <h2>¡Te invitamos a registrarte como nuevo cliente en UTN Express!</h2>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">  
                <div class="col-md-12">
                    <div class="offer-post">
                        <form>
                            <legend>Registrate</legend>
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Nombre</label>
                                            <input type="text" class="form-control" placeholder="Ingrese su nombre">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Apellido</label>
                                            <input type="text" class="form-control" placeholder="Ingrese su apellido">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Dni</label>
                                            <input type="text" class="form-control" placeholder="Ingrese su dni">
                                        </div> 
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Telefono</label>
                                            <input type="text" class="form-control" placeholder="Ingrese su telefono">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Direccion</label>
                                            <input type="text" class="form-control" placeholder="Ingrese su direccion">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                          <label>Pais</label>  
                                          <select class="form-control">
                                              <option>Argentina</option>
                                              <option>Brasil</option>
                                              <option>Paraguay</option>
                                              <option>Chile</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Provincia</label> 
                                            <select class="form-control">
                                              <option>Misiones</option>
                                              <option>Formosa</option>
                                              <option>Corrientes</option>
                                              <option>Chaco</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email </label>
                                    <input type="email" class="form-control" placeholder="Ingrese email">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Repita su email </label>
                                    <input type="email" class="form-control" placeholder="Repita su email">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Usuario</label>
                                    <input type="text" class="form-control" placeholder="Ingrese su usuario">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Contraseña</label>
                                    <input type="password" class="form-control" placeholder="Ingrese su nueva contraseña">
                                </div>
                                <button type="submit" id="cmdAddClient" class="btn btn-primary">Registrarse</button> 
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">   
                <div class="col-md-12">
                    <div class="tituloLogin">
                        <h1>Clientes Registrados</h1>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12"> 
                    <div class="login">
                        <form>
                            <legend>Iniciar sesión</legend>
                            <fieldset>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input type="text" id="userName" class="form-control" placeholder="Usuario">
                                </div>
                                <br>
                                <div class="input-group">
                                  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                  <input type="password" id="password" class="form-control" placeholder="Contraseña">
                                </div>
                                <br>    
                                <button type="submit" id="login" class="btn btn-primary">Entrar</button>    
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <br>    
            <div class="row">
                <div class="col-md-12"> 
                    <div class="offer-post">
                        <a href="services.html"><img src="upload/others/3.jpg" alt=""></a>
                        <h2><a href="services.html">Project Buildings</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                        <ul class="offer-list second">
                            <li><i class="fa fa-cube"></i> Plannings</li>
                            <li><i class="fa fa-cube"></i> Fast Work</li>
                            <li><i class="fa fa-cube"></i> Precise</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>