<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="offer-post">
                <a href="services.html"><img src="upload/others/7.jpg" alt=""></a>
                <h2><a href="services.html">Electrical</a></h2>
                <p>A nice home deck provides a beautiful and relaxing spot for you and your family to enjoy the outdoors. Our professional handymen are ready to help you with all your deck repair and deck maintenance needs.</p>
                <p>A nice home deck provides a beautiful and relaxing spot for you and your family to enjoy the outdoors. Our professional handymen are ready</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="offer-post">
                <a href="services.html"><img src="upload/others/1.jpg" alt=""></a>
                <h2><a href="services.html">Home Maintenance</a></h2>
                <p>We are professional tile installers who can install tile in many areas of your home.</p>
                <ul class="offer-list">
                    <li><i class="fa fa-cube"></i> Building House</li>
                    <li><i class="fa fa-cube"></i> Door Installation</li>
                    <li><i class="fa fa-cube"></i> Electrical</li>
                    <li><i class="fa fa-cube"></i> Flooring</li>
                    <li><i class="fa fa-cube"></i> Garages</li>
                </ul>
            </div>
        </div>
        <div class="col-md-5">
            <div class="offer-post">
                <a href="services.html"><img src="upload/others/3.jpg" alt=""></a>
                <h2><a href="services.html">Project Buildings</a></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                <ul class="offer-list second">
                    <li><i class="fa fa-cube"></i> Plannings</li>
                    <li><i class="fa fa-cube"></i> Fast Work</li>
                    <li><i class="fa fa-cube"></i> Precise</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</div>