<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12">
					<img src="upload/projects/single1.jpg" alt="">
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="project-content">
						<div class="project-content-box">
							<h2>Premium: Tiempo de entrega 24 Hs</h2>
							<ul>
								<li>Retiro de productos a domicilio o podés despacharlos en Sucursales</li>
								<li>Entregamos tu producto en el lugar que elijas en todo el país</li>
								<li>Herramientas Online para facilitar tu gestión de envíos</li>
								<li>Cobro del valor del producto y/o el valor del envío en el momento de realizar la entrega</li>
								<li>Gestión de devoluciones y cambio de productos</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12">
					<img src="upload/projects/single1.jpg" alt="">
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="project-content">
						<div class="project-content-box">
							<h2>Standard: Tiempo de entrega 48 Hs</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
		