<!--
#################################
    - THEMEPUNCH BANNER -
#################################
-->
<div class="tp-banner-container">
    <div class="tp-banner" >
        <ul>    <!-- SLIDE  -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on"  data-title="Intro Slide">
                <!-- MAIN IMAGE -->
                <img src="upload/slide/1.jpg"  alt="slidebg1" data-lazyload="upload/slide/1.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption finewide_medium_white lfl tp-resizeme rs-parallaxlevel-0"
                    data-x="0"
                    data-y="280" 
                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="500"
                    data-start="1200"
                    data-easing="Power3.easeInOut"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;">SERVICIOS<br><span>ESPECIALES</span> <br>
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption small_text customin tp-resizeme rs-parallaxlevel-0"
                    data-x="0"
                    data-y="400" 
                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="500"
                    data-start="1800"
                    data-easing="Power3.easeInOut"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.05"
                    data-endelementdelay="0.1"
                    style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">Para nuestros clientes que están haciendo lo posible por satisfacer <br>las necesidades de sus clientes, nosotros somos el socio ideal <br>para ayudarlos a enviar lo inesperado e inusual.
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption lfl tp-resizeme rs-parallaxlevel-0"
                    data-x="0"
                    data-y="510" 
                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="500"
                    data-start="2400"
                    data-easing="Power3.easeInOut"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-linktoslide="next"
                    style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;"><a href='#' class='trans-btn2'>Leer más</a>
                </div>
            </li>

            <!-- SLIDE  -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="2000" data-saveperformance="on"  data-title="Ken Burns Slide">
                <!-- MAIN IMAGE -->
                <img src="images/dummy.png"  alt="2" data-lazyload="upload/slide/2.jpg" data-bgposition="right top" data-kenburns="on" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center bottom">
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption small_text customin tp-resizeme rs-parallaxlevel-0"
                    data-x="470"
                    data-y="310" 
                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="500"
                    data-start="1200"
                    data-easing="Power3.easeInOut"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.05"
                    data-endelementdelay="0.1"
                    style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">Somos una empresa de experiencia
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption finewide_medium_white lfl tp-resizeme rs-parallaxlevel-0"
                    data-x="250"
                    data-y="358" 
                    data-speed="500"
                    data-start="1800"
                    data-easing="Power3.easeInOut"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.05"
                    data-endelementdelay="0.05"
                    style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">Llevamos tu negocio
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption finewide_medium_white lfr tp-resizeme rs-parallaxlevel-0"
                    data-x="300"
                    data-y="412" 
                    data-speed="500"
                    data-start="1800"
                    data-easing="Power3.easeInOut"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;"><span>a cualquier parte </span>
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption lfb tp-resizeme rs-parallaxlevel-0"
                    data-x="470"
                    data-y="505"
                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="500"
                    data-start="2400"
                    data-easing="Power3.easeInOut"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-linktoslide="next"
                    style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;"><a href='#' class='trans-btn'>Envía con nosotros</a>
                </div>
            </li>
            <!-- SLIDE  -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on"  data-title="Parallax 3D">
                <!-- MAIN IMAGE -->
                <img src="upload/slide/3.jpg"  alt="3dbg" data-lazyload="upload/slide/3.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption finewide_medium_white lfl tp-resizeme rs-parallaxlevel-0"
                    data-x="0"
                    data-y="280" 
                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="500"
                    data-start="1200"
                    data-easing="Power3.easeInOut"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;"><span>Obtenga</span> Visibilidad<br>
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption small_text customin tp-resizeme rs-parallaxlevel-0 backgroun-col"
                    data-x="0"
                    data-y="350" 
                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="500"
                    data-start="1800"
                    data-easing="Power3.easeInOut"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.05"
                    data-endelementdelay="0.1"
                    style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">Vea con más claridad y actúe con más confianza con el rastreo de UTN EXPRESS. <br>Nuestra tecnología le permite observar el progreso de su envío, durante todo el proceso,<br> de modo que cuando detecte un problema, pueda actuar rápido.<br>
El tiempo vale oro. Estamos aquí para ayudarlo a hacer que cada segundo cuente. 
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption lfl tp-resizeme rs-parallaxlevel-0"
                    data-x="0"
                    data-y="490" 
                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="500"
                    data-start="2400"
                    data-easing="Power3.easeInOut"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-linktoslide="next"
                    style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;"><a href='#' class='trans-btn2'>Obtenga más información</a>
                </div>
            </li>
        </ul>
        <div class="tp-bannertimer"></div>
    </div>
</div>