<div class="container">

    <div class="title-section">
        <h1>Clients <span>Testimonials</span></h1>
    </div>

    <div class="testimonial-box">
        <ul class="bxslider">
            <li>
                <h2>John Smith</h2>
                <span>HouseBuild Chief</span>
                <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. <br> Aenean dignissim pellentesque felis. Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a,<br> ultricies in, diam. Sed arcu. Cras consequat.</p>
            </li>
            <li>
                <h2>Besim Dauti</h2>
                <span>Project Menager</span>
                <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. <br> Aenean dignissim pellentesque felis. Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a,<br> ultricies in, diam. Sed arcu. Cras consequat.</p>
            </li>
            <li>
                <h2>Quan Ngyen</h2>
                <span>Electricity Engineer</span>
                <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. <br> Aenean dignissim pellentesque felis. Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a,<br> ultricies in, diam. Sed arcu. Cras consequat.</p>
            </li>
        </ul>
    </div>

</div>